* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container {
    margin: 0 auto;
    padding: 20px 0;
    width: 1440px;
    /* height: 700px; */
}
#hero {
    background: url(./img/Rectangle.png) no-repeat top/cover;
  

}
.hero a:hover{
    font-size: 20px;
    color: #FFF;
    transition: 0.7s;
}
.hero a {
    transform: scale(1.1);
}
.hero {
display: flex;
justify-content: space-around;
gap: 5pc;
padding: 0 90px;
text-align: center;
animation: myAnom 5s ease 0s 1 normal forwards;
}

@keyframes myAnom {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}
a {
color:var(--white-white-40, rgba(255, 255, 255, 0.42));
text-decoration: none;
font-size: 15px;
padding: 10px 0;

}
.hero span {
    padding: 10px 0;
    color: #FFF;
}
.hero-content {
    display: flex;
justify-content: space-between;
}
.f1 {
    display: flex;
    gap: 20px;
    color: white;
    transform: 0.7;
    animation: myiweew 1s ease 0s 1 normal forwards;

}
@keyframes myiweew {
	0% {
		transform: scale(0.5);
		transform-origin: 50% 0%;
	}

	100% {
		transform: scale(1);
		transform-origin: 50% 0%;
	}
}


.f1:hover {
    transform: scale(1.1);
}
.f1 span {
    color: white;
    
    font-size: 18px;
}
.a-1 {
    background:  #598d79 ;
    /* opacity: 0.5; */
    border-radius: 5px;
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    
}

.f2 {
    background:  #598d79 ;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    padding: 10px 20px;
}
#header {
    background: url(./img/foto2.png) no-repeat top/cover; 
    width: 100%;
    height: 1200px;
} 
.gg {
    position: absolute;
   margin-left: 58pc;
   margin-top: -5pc;
   animation: myiwskdl 5s ease 0s infinite;
   
}
@keyframes myiwskdl {
	0% {
		transform: scaleX(0.4);
	}

	100% {
		transform: scaleX(1);
	}
}


.tt {
    position: relative;
    left: 70pc;
    top: 15pc;
    animation: myAnim 3s ease 0s infinite;
    transition: 2s;

 
}
@keyframes myAnim {
	0% {
		opacity: 0;
		transform: rotate(-540deg) scale(0);
	}

	100% {
		opacity: 1;
		transform: rotate(0) scale(1);
	}
}
.header h1 {
    font-family: Inter;
font-size: 56px;
color: white;

margin-left: 30pc;
margin-top: -7pc;
}



.header p {
    color: white;
    margin-left: 30pc;
    margin-top: 10px;
}
.header {
  
    background: var(--gradients-title, linear-gradient(92deg, #FFF 29.24%, rgba(176, 250, 255, 0.00) 131.64%));
    background-clip: text;
    opacity: 0.9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}

.links {
 border-radius: 8px;
opacity: 0.5;
background: var(--dark-input, #151822);
filter: blur(2px);
width: 353px;
height: 460px;
flex-shrink: 0;
padding: 30px;
color: #FFF;
animation: myiwlslkfll 5s ease 0s 1 normal forwards;
}
@keyframes myiwlslkfll {
	0% {
		transform: rotate(0);
		transform-origin: right;
	}

	100% {
		transform: rotate(360deg);
		transform-origin: right;
	}
}


.links h2 {
padding: 10px;
font-size: 35px;
}
.links h1 {
    display: flex;
    font-size: 20px;
}
.links p {
    margin-top: 10px;
}
.links button {
    border-radius: 12px;position: relative;
    top: 3pc;
  background: var(--accent, #1D9A6D);
     padding: 16px 32px;
    color: #FFF;
border: none;
}
.links button:hover {
    background: blue;
    color: black;
}
.ss {
    position: relative;
    left: 10.5pc;
    top: 2.2pc;
    z-index: -1;
}
.s2 {
    position: relative;
    left: 6pc;
    top: 6pc;
    z-index: -1;
}
.lin {
   
    opacity: 0.7;
    border-radius: 8px;
background: #151822;

     width: 353px;
    height: 460px;
    flex-shrink: 0;
    padding: 30px;
    color: #FFF;
    margin-top: -5pc;
    animation: myinedf 8s ease 0s 1 normal forwards;
}
@keyframes myinedf {
	0% {
		opacity: 0;
		transform: rotateX(-100deg);
		transform-origin: top;
	}

	100% {
		opacity: 1;
		transform: rotateX(0deg);
		transform-origin: top;
	}
}
.link :hover {
    transform: scale(1.1);
}
.lin h2 {
    padding: 10px;
    font-size: 35px;
    }
    .lin h1 {
        display: flex;
        font-size: 20px;
    }
    .lin p {
        margin-top: 10px;
    }
    .lin button {
        border-radius: 12px;
        background: var(--accent, #1D9A6D);
        box-shadow: 0px 8px 16px 0px rgba(75, 72, 241, 0.19);
        
        padding: 16px 32px;
        color: #FFF;
        margin-top: 40px;
        border: none;
    }
    .lin button:hover {
        background: #19548b;
        color: rgb(226, 226, 18);
    }
    .s1 {
        position: relative;
    left: 8.8pc;
    top: -0.3pc;
    z-index: -1;
    }
    .link {
        display: flex;
        justify-content: space-around;
        padding: 10pc 0;
        transform: 0.7;
    }
    #solid {
        background: rgba(21, 24, 34, 1);
        width: 100%;
        height: 617px;
    }
.solik h1 {
font-family: Golos;
font-size: 180px;
background: linear-gradient(92deg, rgba(255, 255, 255, 0.05) 29.24%, rgba(176, 250, 255, 0.00) 131.64%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-top: 7pc;
margin-left: -15pc;

    }

 .sol h2 {
  font-size: 42px;
  color: #FFF;
 }
 .sol p {
    color: #FFF;
    font-size: 18px;
    padding: 20px 0;

 }
 .sol {
    animation: myiwdwfet 8s ease 0s 1 normal forwards;
 }
 @keyframes myiwdwfet {
	0% {
		opacity: 0;
		transform: rotateY(100deg);
		transform-origin: left;
	}

	100% {
		opacity: 1;
		transform: rotateY(0);
		transform-origin: left;
	}
}
 .kk {
    border-radius: 8px;
background: var(--dark-input, #242b41);
color: white;
width: 400px;
height: 52px;
padding: 10px 0 5px 5px;
 }
 .kk h3 {
    margin-top: 5px;
 }
 .kk span {
    background: #19548b;
    border-radius: 36px;
    padding: 5px 18px;
 }
 .k1 {
    align-items: center;
    display: flex;
   margin-top: -40px;
   margin-left: 20pc;
 }
 .solid {
    display: flex;
    justify-content: space-between;
    margin-top: -9pc;
 }
 .r1 {
    position: relative;
    left: 40pc;
    padding: 60px 15px;
    border-radius: 130px;
    background: var(--dark-input, #151822);
filter: drop-shadow(0px 4px 38px rgba(0, 0, 0, 0.25));
 }
 .r2 {
    position: relative;
   left: 41pc;
   top: 5pc;
    padding: 50px 10px;
    border-radius: 120px;
    background: var(--dark-input, #151822);
filter: drop-shadow(0px 4px 38px rgba(0, 0, 0, 0.25));
 }
 .r3 {
    position: relative;
    top: 9pc;
    left: 17pc;
    padding: 20px 20px;
    border-radius: 120px;
    background: var(--dark-input, #151822);
filter: drop-shadow(0px 4px 38px rgba(0, 0, 0, 0.25));
 }
 .r4 {
    position: relative;
    left: 5pc;
    top: 0pc;
    padding: 20px 20px;
    border-radius: 120px;
    background: var(--dark-input, #151822);
filter: drop-shadow(0px 4px 38px rgba(0, 0, 0, 0.25));
 }
 .r5 {
    position: relative;
    top: -6pc;
    left: -2pc;
    padding: 60px 20px;
    border-radius: 120px;
    background: var(--dark-input, #161924);
filter: drop-shadow(0px 4px 38px rgba(0, 0, 0, 0.25));
 }
 .r6 {
    position: relative;
    left: 8pc;
    top: -2pc;
 }
 .r7 {
    position: relative;
    left: -14pc;
    top: -11pc;
    padding: 20px 20px;
    border-radius: 120px;
    background: var(--dark-input, #222633);
filter: drop-shadow(0px 4px 38px rgba(0, 0, 0, 0.25));
 }
 .r9 {
    position: relative;
    left: 45pc;
    top: -17pc;
    padding: 50px 20px;
    border-radius: 120px;
    background: var(--dark-input, #191b25);
filter: drop-shadow(0px 4px 38px rgba(0, 0, 0, 0.25));
 }
 .r10 {
    position: relative;
    left: 37pc;
    padding: 20px 20px;
    border-radius: 120px;
    background: var(--dark-input, #191c27);
filter: drop-shadow(0px 4px 38px rgba(0, 0, 0, 0.25));
 }
 #logo {
    background: url(./img/foto2.png) no-repeat top/cover; 
    width: 100%;
    height: 615px;
 }
 .loter h1 {
    color: white;
    font-size: 48px;
 }
 .loter {
color: #FFF;
/* padding: 10pc; */
margin-top: 7pc;
transform: 0.7;
background: var(--gradients-title, linear-gradient(92deg, #FFF 29.24%, rgba(176, 250, 255, 0.00) 131.64%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
opacity: 0.7;
animation: myiwddkld 4s ease 0s 1 normal forwards;
 }
 @keyframes myiwddkld {
	0% {
		opacity: 0;
		transform: translateX(-250px) rotate(-200deg);
	}

	100% {
		opacity: 1;
		transform: translateX(0) rotate(0deg);
	}
}
 .po {
    margin-top: 40px;
    display: flex;
    padding: 15px 49px;
    text-align: center;
    gap: 2pc;
    border-radius: 12px;
background: var(--blue-opacity-15, rgba(98, 127, 227, 0.15));
border: none;
color: var(--blue-second, #8886FF);


 }
 .po span {
    margin-top: 5px;
    font-family: Hauora;
    font-size: 16px;
 }
 .pp {
    margin-top: 30px;
    animation: myiwldled 5s ease 0s 1 normal forwards;
    
 
 }
 @keyframes myiwldled {
	0% {
		opacity: 0;
		transform: rotate(-540deg) scale(2);
	}

	100% {
		opacity: 1;
		transform: rotate(0) scale(1);
	}
}
 .logo {
    animation: myiwedf 4s ease 0s infinite;
    
 } 
 @keyframes myiwedf {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}
.loter button:hover {
background: red;
transform: scale(1.1);
color: #151822;
}
.content {
    display: flex;
}
#red {
    background: rgba(21, 24, 34, 1);
    width: 100%px;
    height: 1103px;
   
  
}
.jop span {
    background: linear-gradient(92deg, rgba(255, 255, 255, 0.05) 29.24%, rgba(176, 250, 255, 0.00) 131.64%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Golos;
font-size: 180px;

}
.jop {
    padding: 0 25pc;
color: #FFF;
text-align: center;


}
@keyframes myiekrl {
	0% {
		transform: scaleX(0.4);
		transform-origin: 100% 100%;
	}

	100% {
		transform: scaleX(1);
		transform-origin: 100% 100%;
	}
}
.jop h1 {
    font-size: 42px;
    margin-top: -6pc;
    background: var(--gradients-title, linear-gradient(92deg, #FFF 29.24%, rgba(176, 250, 255, 0.00) 131.64%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
opacity: 0.7;
animation: myiekrl 6s ease 0s 1 normal forwards;
}
.jop p {
    margin-top: 10px;
    animation: myiekrp 5s ease 0s 1 normal forwards;
}
@keyframes myiekrp {
	0% {
		transform: scaleY(0.4);
		transform-origin: 0% 100%;
	}

	100% {
		transform: scaleY(1);
		transform-origin: 0% 100%;
	}
}
   
.fons {
    color: #FFF;
    border-radius: 8px;
    background: var(--dark-input, #1f2433);
    width: 365px;
    height: 255px;
    padding: 2pc;
    transform: 0.7;
    animation: modgido 3s ease 0s 1 normal forwards;
    
}
@keyframes modgido {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}
.fons:hover {
    transform: scale(1.1);
}
.fons1:hover {
    transform: scale(1.1);
}


.fons span {
    opacity: 0.5;
 
   
}
.fons h2 {
    font-size: 32px;
    padding: 20px 0;
}
.fons button {
    background: #1D9A6D;
    border-radius: 12px;
    padding: 16px 32px;
    border: none;
    color: #FFF;
    position: relative;
    top: -9pc;
    transform: 0.9;
    animation: myiwlsml 3s ease 0s;
}
@keyframes myiwlsml {
	0% {
		transform: rotate(0);
		transform-origin: left;
	}

	100% {
		transform: rotate(360deg);
		transform-origin: left;
	} 
}
.fons button:hover {
    background: #19548b;
    color: black;
    transform: scale(1.2);
}
.im {
    position: relative;
    left: 10pc;
    top: -3pc;
}

.vo {
    position: relative;
    left: 30pc;
    top: 5pc;
    animation: myiwldled 2s ease 0s 1 infinite;

}
@keyframes myiwldled {
	0% {
		opacity: 0;
		transform: rotate(-540deg) scale(2);
	}

	100% {
		opacity: 1;
		transform: rotate(0) scale(1);
	}
}
.vu {
    position: relative;
    top: -27.5pc;
    left: -9pc;
    animation: myiwldlec 5s ease 0s infinite;
}
@keyframes myiwldlec {
	0% {
		transform: scaleX(0.4);
	}

	100% {
		transform: scaleX(1);
	}
}
.a1 {
    background: rgba(255, 255, 255, 0.10);
    width: 270px;
/* height: 1px; */
}
.pink {
    display: flex;
    align-items: center;
    gap: 20px;
   
}


.fon {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    
}

.fons1 button {
    background: #1D9A6D;
    border-radius: 12px;
    padding: 16px 32px;
    border: none;
    color: #FFF;
    position: relative;
    top: -2pc;
    transform: 0.9;
    animation: myiwlsml 3s ease 0s ;
}
@keyframes myiwlsml {
	0% {
		transform: rotate(0);
		transform-origin: left;
	}

	100% {
		transform: rotate(360deg);
		transform-origin: left;
	}
}
.fons1 button:hover {
    background: #19548b;
    color: black;
    transform: scale(1.2);
}
.fons1 {
    color: #FFF;
    border-radius: 8px;
    background: var(--dark-input, #1f2433);
    width: 365px;
    height: 255px;
    padding: 2pc;
    transform: 0.7;
    animation: modgido 5s ease 0s 1 normal forwards;
    
}
@keyframes modgi {
	0% {
		transform: scale(2);
		transform-origin: 0% 50%;
	}

	100% {
		transform: scale(1);
		transform-origin: 0% 50%;
	}
}
.im1 {
    position: relative;
    left: 4pc;
    top: 4.5pc; 
}
.im2 {
    position: relative;
    left: 4.8pc;
    top: 3pc;
 }
.flag {
  
background: #13103D;
 width: 1370px;
 height: 300px;
 border-radius: 30px;
 color: #FFF;
 padding: 50px 40px;
 animation: mnskwjlw 5s ease 0s 1 normal forwards;
}
@keyframes mnskwjlw {
	0% {
		opacity: 0;
		transform: rotateX(-100deg);
		transform-origin: top;
	}

	100% {
		opacity: 1;
		transform: rotateX(0deg);
		transform-origin: top;
	}
}


.flag h1 {

font-size: 42px;
}
.flag p {
    padding: 20px 0;
    line-height: 30px;
}
.eat {
    border-radius: 14px;
    border: 1px solid var(--gradients-grey, rgba(255, 255, 255, 0.28));
    background: var(--white-white-10, rgba(255, 255, 255, 0.10));
    box-shadow: 0px 4px 41px 0px rgba(0, 0, 0, 0.13);
    backdrop-filter: blur(2px);
   width: 600px;
   height: 50px;
   padding: 0 15px;
}
.flag button {
    background: #1D9A6D;
    padding: 10px 20px;
    border-radius: 62px;
    border: none;
    color: white;
    position: relative;
    left: -8.5pc;
    transform: 0.7;
}
.flag button:hover {
    background: #8886FF;
    color: black;
    transform: scale(1.1);
}
#blok {
    background: #1a1a2b;
    width: 100%;
    height: 520px;
}
.blok {
    color: #FFF;

}
.blok span {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    /* padding: 30px 0 0 0; */
}
.ll {
    font-size: 5px;
    padding: 20px 0;
    
  
   
}
.blok {
    animation: mlkjtmvner 3s ease 0s 1 normal forwards;
}
@keyframes mlkjtmvner {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateX(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateX(-68px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateX(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateX(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}
}
.blok h1 {
opacity: 0.7;
}

.q1 {
    margin-top: 20px;
   padding: 10px ;
   width: 500px;
   border-radius: 8px;
border: 1px solid var(--gradients-grey, rgba(255, 255, 255, 0.28));
background: var(--white-white-10, rgba(255, 255, 255, 0.10));
box-shadow: 0px 4px 41px 0px rgba(0, 0, 0, 0.13);
backdrop-filter: blur(2px);
   height: 25px;
}
.blok button {
    background: #1D9A6D;
    padding: 10px 20px;
    border-radius: 62px;
    border: none;
    color: white;
    position: relative;
    left: -8.5pc;
    transform: 0.7;
}
.blok button:hover {
    background: #8886FF;
    color: black;
    transform: scale(1.1); }
    .blok p {
        margin-top: 20px;
        line-height: 25px;
    }
    a {
        display: flex;
        padding: 30px 0 0 0;
    }
    .cat {
        display: flex;
  padding: 30px 0 0 0;
  justify-content: space-between;
    }
    .clock span {
        color: #FFF;
        font-size: 25px;
    }
    .clock {
        animation: mlkjtmvneker 5s ease 0s 1 normal forwards;
    }
    @keyframes mlkjtmvneker {
        0% {
            opacity: 0;
            transform: rotateX(-100deg);
            transform-origin: top;
        }
    
        100% {
            opacity: 1;
            transform: rotateX(0deg);
            transform-origin: top;
        }
    }
    #kod {
        background: #191925;
        width: 100%;
        height: 80px;
    }
    .kod {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        margin-top: 10px;
        animation: myAniwe 6s ease 0s 1 normal forwards;
    }
    @keyframes myAniwe {
        0% {
            transform: scale(0.5);
            transform-origin: 50% 100%;
        }
    
        100% {
            transform: scale(1);
            transform-origin: 50% 100%;
        }
    }
    .kod h1 {
font-size: 12px;
color: #FFF;
text-align: center;
    }
    .kod h2 {
        font-size: 12px;
        color: #FFF;
        text-align: center;
            }